    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">#campuslauf16</h1>
                        <p class="intro-text" style='font-size: 15pt'>Am 11. Mai fällt der Startschuss zum 32. Campuslauf der TU Dortmund.
                        <br>Wieder werden sich Studierende und Externe in verschiedenen Disziplinen wie
                        dem Mathetower-Run oder dem Campuswalk messen.
                        In einem Countdown stimmt euch das Ressort <strong>Campus und Leben</strong> der
                        <a href="http://www.pflichtlektuere.com/">Pflichtlektüre Online</a>
                        darauf ein und berichtet live vom Campussportevent des Jahres!</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
