    <!-- Intro Header -->
    <header id="page-top" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">#campus&shy;lauf16</h1>
                        <p class="intro-text" style='font-size: 15pt'>
1986: Uwe Ernst gewinnt als Erster den Zehn-Kilometer-Lauf. <br>2016: Hendrik Pfeiffer rennt in derselben Disziplin in nur 32:07 Minuten durchs Ziel. Neuer Rekord. <br><br>Der Campuslauf ist ein Traditionsereignis an der TU Dortmund.
In diesem Jahr hat das Ressort <strong>Campus und Leben</strong> der <a href="http://www.pflichtlektuere.com/">Pflichtlektüre Online</a> den Campuslauf am 11. Mai 2016 mit einem multimedialen Special begleitet –
von rivalisierenden Mannschaften über artistische Einlagen bis zu alten Bekannten.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
